<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0">
<title>scompo-timelogger webapp</title>
<link
	rel="stylesheet"
	th:href="@{/css/style.css}" />
<body>
	<h1>scompo-timelogger webapp</h1>
	<div sec:authorize="!isAuthenticated()">
		<a href="/login">Login with google</a>
	</div>
	<div sec:authorize="isAuthenticated()">
		<p>
			Hello: <span sec:authentication="name">User</span>
		<form
			th:action="@{/logout}"
			method="post">
			<input
				type="submit"
				value="logout">
		</form>

		<a th:href="@{/config}">configuration</a> <a th:href="@{/today}">today</a>
	</div>
</body>
</html>
