<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0">
<title>scompo-timelogger webapp - today</title>
<link
	rel="stylesheet"
	th:href="@{/css/style.css}" />
<body>
	<table th:object="${activities}" class="activity-table">
		<thead>
			<tr>
				<th>Start</th>
				<th>End</th>
				<th>Description</th>
				<th>Working</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="activity : ${activities}">
				<td th:text="${#temporals.format(activity.interval.from, 'HH:mm')}">8:30</td>
				<td th:text="${#temporals.format(activity.interval.to, 'HH:mm')}">9.30</td>
				<td th:text="${activity.description}">A description</td>
				<td th:text="${activity.working}">true</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>Total activities: <span th:text="${#lists.size(activities)}"></span>
				</td>
			</tr>
		</tfoot>
	</table>
</body>
</html>
